{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'collection-add' %}" class="btn btn-outline-primary">Add New Collection</a><br>
  <!-- COLLECTIONS -->
  <section class="collection-container">
    <table class="styled-table">
      <tbody>      
        <tr>
          <th>About</th>
        </tr>
        <tr>
          <td>Krump is an intense street dance originating from South Central Los Angeles. It's characterized by its aggressive movements and freestyle nature, often used to express emotions like anger and frustration. The dance involves sharp, exaggerated movements, showcasing individuality and storytelling through intricate footwork, chest pops, and arm swings. Krump culture includes battles where dancers compete, expressing their skills and passion for the art form without aggression toward opponents. Overall, it's a raw and powerful dance form enabling authentic self-expression.</td>
        </tr>
      </tbody>
    </table>
  </section> 
  <div>
    {% include 'includes/pagination.html' %}
  </div> 
{% endblock %}