{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--TRAINERS-->
<a href="{% url 'trainer-add' %}" class="btn btn-outline-primary">Add New Event</a><br>
<section class="trainers-container">
    <table class="styled-table">
      <tbody>
        <tr>
          <th>Event Name</th>
          <th>Date</th>
          <th>Location</th>
          <th>Email of Organizer</th>
        </tr>
        {% for object in object_list %}
        <tr>
          <td>{{ object.name }}</td>
          <td>{{ object.birthdate }}</td>
          <td>{{ object.location }}</td>
          <td>{{ object.email}} </td>
        </tr>
        {% empty %}
                <tr>
                <td colspan="4" style="text-align: center;">
                    <p>No Records Found</p>
                </td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <div>
    {% include 'includes/pagination.html' %}
  </div> 
{% endblock %} 
